<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    New Registration:
    <form action="/register" method="POST">
        <input type="text" placeholder="Enter First name" name="first_name" />
        <p>
        <input type="text" placeholder="Enter Last name" name="last_name"/>
        </p>
        <p>
        <input type="email" placeholder="Enter Email" name="email"/>
        </p>
        <p>
        <input type="password" placeholder="Enter password" name="password"/>
        </p>
        <p>
            <input type="text" placeholder="Enter ETH add" name="eth_add"/>
            </p>
        <p><button type="submit">Submit</button></p> 
      </form>
</body>
</html>